{% extends 'accounts/base_profile.html' %}
{% load static %}
{% block other_stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block main %}
    <div class="bg-white p-3 my-3 status" id="status-{{ status.pk }}"
            {% if status.is_pin %}
         style="background-color: aliceblue!important;border-color: #27bcc9!important;"
            {% endif %}>
        <div class="tools">
            {% if request.user == status.from_user %}
                <a href="{% url 'statuses:edit_status' status.pk %}">ویرایش</a>
            {% endif %}
            {% if request.user == status.from_user or request.user == status.to_user %}
                <a href="{% url 'statuses:delete_status' status.pk %}">حذف</a>
            {% endif %}
            {% if request.user == status.to_user and not status.is_message %}
                {% if status.is_pin %}
                    <a href="{% url 'statuses:pin_status' status.pk %}?state=unpin">سنجاق شده</a>
                {% else %}
                    <a href="{% url 'statuses:pin_status' status.pk %}?state=pin">سنجاق</a>
                {% endif %}
            {% endif %}
            <a href="{{ status.get_absolute_url }}">پیوند ثابت</a>
        </div>
        <header>
            <span class="user-picture2">
                <a href="{{ status.from_user.get_absolute_url }}">
                    <img src="{{ status.from_user.profile_image.url }}" height="42" width="42"
                         title="تصویر پروفایل {{ status.from_user.full_name }}"
                         alt="تصویر پروفایل {{ status.from_user.full_name }}">
            </a></span>
            <div class="username">
                {% if status.is_message %}
                    <a href="{{ status.from_user.get_absolute_url }}">{{ status.from_user.full_name }}</a>
                    <i class="flash-message"></i>
                    <a href="{{ status.to_user.get_absolute_url }}">{{ status.to_user.full_name }}</a>
                {% else %}
                    <a href="{{ status.from_user.get_absolute_url }}">{{ status.from_user.full_name }}</a>
                {% endif %}
            </div>
            <br>
            <time datetime="{{ status.created }}" class="ps-3">{{ status.created }}</time>
        </header>
        <p class="mt-3">{{ status.content }}</p>
        <hr>
        {% if status.file %}
            {% if status.type_of_file == 'image' %}
                <div class="status-image">
                    <a href="{{ status.file.url }}">
                        <img src="{{ status.file.url }}">
                    </a>
                </div>
            {% elif status.type_of_file == 'video' %}
                <div class="status-video">
                    <video controls preload="none">
                        <source src="{{ status.file.url }}" type="video/mp4">
                    </video>
                </div>
            {% elif status.type_of_file == 'audio' %}
                <div class="status-audio">
                    <audio controls preload="none">
                        <source src="{{ status.file.url }}">
                    </audio>
                </div>
            {% endif %}
            <hr>
        {% endif %}
        <div style="background-color: #f6f7f8">
            <div class="like-section">
                {% if status.is_liked %}
                    <style>
                        #status-{{ status.pk }} .like-section i {
                            background-position: 0 -120px;
                        }
                    </style>
                    <a href="{% url 'statuses:status_unlike' status.pk %}"><i></i> حذف لایک </a>
                {% else %}
                    <style>
                        #status-{{ status.pk }} .like-section i {
                            background-position: 0 -140px;
                        }
                    </style>
                    <a href="{% url 'statuses:status_like' status.pk %}"><i></i> لایک </a>
                {% endif %}
                <span>
                    <div class="list-of-likers ps-3" style="display: inline-block">
                        <p>{{ status.likers.all | length }} نفر این استتوس را دوست دارند </p>
                    </div>
                </span>
            </div>
            <hr>
            <div class="status-comments">
                {% for comment in status.comments.all %}
                    <header>
            <span class="user-picture2">
                <a href="{{ status.from_user.get_absolute_url }}">
                    <img src="{{ status.from_user.profile_image.url }}" height="42" width="42"
                         title="تصویر پروفایل {{ status.from_user.full_name }}"
                         alt="تصویر پروفایل {{ status.from_user.full_name }}">
            </a></span>
                        <div class="username">
                            <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.full_name }}</a>
                        </div>
                        <br>
                        <time datetime="{{ comment.created }}" class="ps-3">{{ comment.created }}</time>
                    </header>
                    <br>
                    <p>{{ comment.content }}</p>
                    <hr>
                {% endfor %}
            </div>
            <div class="m-3 pb-5">
                <form action="{% url 'statuses:status_create_comment' status.pk %}" method="post">
                    {% csrf_token %}
                    {{ status_create_comment_form }}
                    <button type="submit">ارسال</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}